


@font-face 
{font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; /* le point virgule arrête la commande, spécifie l'ordre*/

src: url();text-align: justify;}


/* */
* {
    text-align: justify;
    margin: 15px; 
    }

    


h1 {text-transform:uppercase;
    letter-spacing:7px;
    text-align:center;
    font-size:100px;
    color:orange;
    /*Les textes de polices doivent être en rem, pour l'accessibilité à tous et sur tout*/
    font-size:2.85rem;
    text-shadow:13px 18px 6px #00000042; /*suffit de taper #*/
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h2 {
   b color: orange;
  
}

h3 {
    color: orange;
}

h4 {color: orange;}

p {text-align: justify;}

/* comme ça les commentaires un ouvrant un fermant*/
/*et le backgroune ?? place ?*/

header

{background-image: url(https://images.unsplash.com/photo-1511747779856-fd751a79aa22?q=80&w=3870&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);

 /*pas d'espace entre url et () ah.. tous ses détails... et le réflexe de faire des espaces évidemment... mais mon image head n'apparaît tjs pas... oui 
le point virgule, mais à présent ce n'est pas le header mais toutes la pajes qui est remplacée...Bon au moins le header est blanc... j'ai réussi, il suffisait de le sortir du main, et comme un con j'avais body auparavant à la place de main, cool, 
en revanche cela masque le texte, ajouter de l'opacité ou transparence*/
}


main {font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 18px;
    background-color: darkslategrey;
    color: aliceblue;
background: url(https://static.holidu.com/cms/7079/l/1342.jpg); center/cover ;
min-height: 100vh; visibility: 100% hidden; /*??? à revoir */
text-align:"justify"; /*pas marché*/
ou https://www.leipzig-sachsen.de/leipzig/bilder/leipzig_bei_nacht.jp

}



footer
{
background-color: black;
width: 100%;
min-height: 20vh;
}
